@media (min-width:0px) and (max-width:961px){ /* smartphones, iPhone, portrait 480x320 phones */ 
	.doc-header {
		font-size: 4.3rem;
		font-weight: bold;
		margin: 0 0 0.7rem 0;
	}

	div.doc-item {
		margin: 0.2rem 0;
	}

	a.doc-item {
		color: rgb(31, 24, 192);
		background-color: transparent;
		text-decoration: none;
	}

	p.doc-item {
		background-color: transparent;
		text-decoration: none;
		margin: 0;
	}

	p:not(.doc-header) {
		font-family: Monaco;
		font-size: 50px;
		font-weight: bold;
	}
}

@media (min-width:961px) { /* big landscape tablets, laptops, and desktops */ 
	.doc-header {
		font-size: 1.8rem;
		font-weight: bold;
		margin: 0 0 0.7rem 0;
	}

	div.doc-item {
		margin: 0.2rem 0;
	}

	a.doc-item {
		color: rgb(31, 24, 192);
		background-color: transparent;
		text-decoration: none;
	}

	p.doc-item {
		background-color: transparent;
		text-decoration: none;
		margin: 0;
		font-weight: bold;
	}

	p:not(.doc-header) {
		font-family: Monaco;
		font-size: 20px;
		font-weight: bold;
	}
}
